body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: auto;
}

#sidebar_container {
    width: 200px;
    height: 90vh;
    padding-top: 15px;
    margin-left: 0;
    padding-left: 0;
}

#sidebar {
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0;
}

#sidebar>li {
    margin: 20px auto;
    display: flex;
    align-items: center;
}

#sidebar li a {
    text-decoration: none;
    color: #563d7c;
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
}

.sharable {
    border-left: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 9px;
}

.title {
    margin-left: 8px;
}

@media(max-width:760px) {
    #sidebar_container {
        width: 50px;
        height: 90vh;
        padding-top: 15px;
    }
    #sidebar>li>i {
        font-size: 1.5em;
        margin: 10px auto;
    }
    #sidebar li a {
        display: none;
    }
    .sharable {
        border-top: 1px solid #c4c4c4;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.content_header {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px
}

.content_body {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}